.altura-elemento_formulario-alto{
	height: 40px;
}

.altura-elemento_formulario-medio{
	height: 30px;
}

.altura-elemento_formulario-bajo{
	height: 20px;
}

/* .margen-bajo-tabla{ */
/* 	magin-bottom: 0; */
/* } */